<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %} {{ page.title }} {% endif %}
  </title>

  <meta name="description" content="{{page.description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="google-site-verification" content="cFs9u1N3P-DiKvt30-QMMfi65NIr797ZtF4FDTD1itU" />

  <link rel="canonical" href="{{ site.url }}{{page.url}}" />
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ site.github.url }}/static/css/base.css" type="text/css" media="screen, projection" />
  <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png" />
</head>