<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %} {{ page.title }} {% endif %}
  </title>

  <meta name="description" content="{{page.description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="google-site-verification" content="cFs9u1N3P-DiKvt30-QMMfi65NIr797ZtF4FDTD1itU" />

  <meta content="{{ site.name }}" property="og:site_name">
{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}
{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}
{% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
{% else %}
  <meta content="{{ site.description }}" property="og:description">
{% endif %}
{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
{% endif %}
{% if page.thumbnail %}
  <meta content="{{ site.url }}/static/images/{{ page.thumbnail }}" property="og:image">
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}

  <meta content="@{{ site.twitter }}" property="twitter:site">
  <meta content="@{{ site.twitter }}" property="twitter:creator">

  {% if page.robots %}
  <meta name="robots" content="{{ page.robots }}" />
  {% endif %}

  <link rel="canonical" href="{{ site.url }}{{page.url}}" />
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />
  <link rel="stylesheet" href="{{ site.github.url }}/static/css/fontello/css/fontello.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ site.github.url }}/static/css/base.css" type="text/css" media="screen, projection" />
  <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png" />
  <script type="text/javascript" src="{{ site.github.url }}/static/js/predomload.js"></script>
</head>