<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }}
    {% endif %}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="{{ site.github.url }}/static/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ site.github.url }}/static/css/pygments.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.github.url }}/static/css/custom.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="{{ site.github.url }}/static/css/mobile.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="{{ site.github.url }}/static/css/mobile.css" type="text/css" rel="stylesheet" />
  <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png" />
</head>
