<section class="sidebar">
  <a href="/">
    <img src="{{ site.github.owner_gravatar_url }}?s=150" height="75" width="75" class="avatar" />
  </a>

  <section class="name">
    <a href="/">
      <span id="fname">{{ site.name|split:' '|first }}</span>
      <span id="lname">{{ site.name|split:' '|last }}</span>
      <span id="fname">DevOps</span>
      <span id="lname">Freelancer</span>
    </a>

  </section>

  <section class="meta">
    <a href="{{ site.github.owner_url }}" target="_blank"><i class="icon icon-github-circled"></i></a>
    <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a>
    <a href="mailto:xam.rennerb@gmail.com" target="_blank"><i class="icon icon-mail"></i></a>
    <a href="/atom.xml" target="_blank"><i class="icon icon-rss"></i></a>
  </section>

  <section class="sections">
    <ul>
      <li><a href="/about.html">about</a></li>
      <li><a href="/">posts</a></li>
      <li><a id="theme-toggle" href="javascript:void(0)" onclick="switchMode()"></a></li>
    </ul>
  </section>
</section>
