.contact a {
  color: var(--main-text-color);
}

.contact a:hover {
  color: rgb(23,111,217);
}

html {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    scrollbar-color: var(--main-text-color);
}

html a {
    color: var(--link-color);
}

html, html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--code-background-color: rgb(198, 198, 198);
  	--main-text-color: rgb(51, 51, 51);
}

html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
  		--link-color: rgb(0, 112, 201);
  		--main-background-color: rgb(28, 28, 30);
  		--code-background-color: rgb(21, 21, 21);
  		--main-text-color: rgb(229, 229, 234);
	}

@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
  		--link-color: rgb(0, 112, 201);
		--main-background-color: rgb(28, 28, 30);
  		--code-background-color: rgb(21, 21, 21);
  		--main-text-color: rgb(229, 229, 234);
	}
	
	html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
  	--code-background-color: rgb(198, 198, 198);
  	--main-text-color: rgb(51, 51, 51);
	}
}