---
layout: layout
---

<section class="content">
    <h1>
        <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>

    <section class="byline">
        {{ page.date | date: "%B %e, %Y" }}
    </section>

    {{ content }}
    <section class="meta">
        <h3>Contact</h3>
        <a href="{{ site.github.owner_url }}" target="_blank"><i class="fa fa-2x fa-github-square"></i></a>
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
        <a href="mailto:xam.rennerb@gmail.com" class="fa fa-2x fa-envelope-o"></a>
    </section>
</section>
