---
layout: layout
---

<section class="content">
    <h1>
        <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>

    <section class="byline">
        {% include readtime.html content=content %} 
        -
        {{ page.date | date: "%B %e, %Y" }}
        -
        <span class="taglist">[
        {% for tag in page.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
                <a href="/tag/{{ tag_name }}"><code>{{ tag_name }}</code></a>
        {% endfor %}
        ]</span>
    </section>

    {% include anchor_headings.html html=content anchorBody="%heading%" %}
    <section class="contact">
        If you have questions or want to give feedback feel free to contact me.<br>
        <a href="{{ site.github.owner_url }}" target="_blank"><i class="fa fa-2x fa-github"></i></a>
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
        <a href="mailto:xam.rennerb@gmail.com" class="fa fa-2x fa-envelope-o"></a>
    </section>
</section>

